body {
    background-color: #393939;
    color: lightgray;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: "Calibri", serif;
}

img {
    image-rendering: pixelated;
}

td.inv-cell {
    padding: 0 5px;
    width: 64px;
    height: 64px;
    border: 2px solid #000;
    border-radius: 5px;
}

#inv {
    background-image: url('../img/inventory_tab.webp');
    background-size: 100% 100%;
    padding: 20px;
}

.item-cell {

}

.item-cell.container {
    width: 64px;
    height: 96px;
    z-index: 10;
    touch-action: none;
}

.item-cell.container.item {
    cursor: move;
}

.item-cell.name {
    margin: 0 auto;
    font-size: 14px;
    user-select: none;
}

.item-cell.icon {
    touch-action: none;
    user-select: none;
}

.item-cell.price {
    margin: 0 auto;
    font-size: 12px;
    user-select: none;
}

.item-cell.price.high {

}

.item-cell.price.low {

}

#id-lookup-root {
    padding-bottom: 25px;
    height: 100px;
    overflow: scroll;
}